<div class="editBoard">
    <h2>Edit Board</h2>
    <form >
        <div class="name">
            <label for="name">Board Name</label>
            <input type="text" placeholder="">
        </div>
        <div class="boardColumns">
            <h3>Board columns</h3>
            <ul>
                <li>
                    <input type="text" name="subtasks" id="subtasks" placeholder="to do">
                    <img src="../../../assets/images/icon-cross.svg" alt="">
                </li>
                <li>
                    <input type="text" name="subtasks" id="subtasks" placeholder="to do">
                    <img src="../../../assets/images/icon-cross.svg" alt="">
                </li>
                <li>
                    <input type="text" name="subtasks" id="subtasks" placeholder="to do">
                    <img src="../../../assets/images/icon-cross.svg" alt="">
                </li>
            </ul>
        </div>
        <button class="newColumn">+ Add new Column</button>
        <button class="saveChanges">Save Changes</button>
    </form>
</div>