<div class="newBoard">
  <h3>Add New Board</h3>
  <form [formGroup]="boardForm">
    <div class="name">
      <label for="name">Board Name</label>
      <input type="text" />
    </div>
    <div class="boardColumns">
      <h5>Board Columns</h5>
      <div
      class="columnsForm"
        *ngFor="let group of columnArray.controls; let i = index"
        formArrayName="columns"
      >
        <div class="boardColumn" [formGroupName]="i">
          <input
            class="form-control mb-3"
            placeholder="todo"
            value=""
            formControlName="column"
          />

          <img
            src="../../../assets/images/icon-cross.svg"
            (click)="removeColumn(i)"
          />
        </div>
      </div>
    </div>

    <button class="newColumn" (click)="addColumn()">+Add New Column</button>
    <button class="saveChanges" (click)="onSubmit()">Create New Board</button>
  </form>
</div>
