@media screen and (min-width: 850px) {
  mat-sidenav {
    width: 300px;
    height: 92vh;
    mat-nav-list {
      margin-top: 1rem;
      .logo {
        margin-left: 1rem;
      }
      .newBoardBtn {
        span {
          color: #635fc7;
          font-weight: 700;
        }
        svg {
          margin-left: 1rem;
          fill: #635fc7;
          margin-right: 0.5rem;
        }
      }
     
     
      .boards {
        margin-top: 2rem;
        color: gray;
        h4 {
          margin-left: 2rem;
        }
        .boardsList {
          display: flex;
          flex-direction: column;
          margin-left: 0;

          button {
            border: none;
            width: 18vw;
            background-color: transparent;
            height: 6vh;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            margin-left: 1rem;
            text-align: left;
            align-items: baseline;
            svg {
              margin-left: 0.5rem;
              margin-right: 0.5rem;
            }
            span {
              margin-left: 0;
              font-size: 0.9rem;
              font-weight: 800;
              color: gray;
              
            }
          }
          button:focus {
            background-color: #635fc7;
            span {
              color: white;
            }
            

          }
          button:hover {
            background-color: #f4f7fd;
          }
        }
      }
      .themeSwitch {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        padding: 1rem 2rem;
        background-color: #f4f7fd;
        margin: 17rem 2rem 0 2rem;
        mat-slide-toggle {
          margin: 0;
          color: primary;
        }
        img {
          margin: 0;
        }
      }
      .hideSidebar {
        margin: 1rem 1rem 0 -25px;
        padding: 0.7rem 8rem 0.7rem 3.8rem;
        border: none;
        border-radius: 20px;
        color: gray;
        font-weight: 800;
        font-size: 0.8rem;
        text-align: center;
        background-color: transparent;

        svg {
          margin-right: 0.5rem;
        }
      }
      .hideSidebar:hover {
        background-color: #a8a4ff;
      }
    }
  }
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgb(231, 236, 238);
    background-color: white;
    .logo {
      width: 9rem;
      align-items: baseline;
      img {
        margin-top: 0.8rem;
      }
    }
    .line {
      margin-left: 3rem;
      padding: 0;
      border-left: 1px solid rgb(231, 236, 238);
      height: 70px;
      width: 5px;
    }
    .currentBoard {
      align-items: baseline;
      h1 {
        font-weight: 700;
      }
    }

    .right {
      width: 20%;
      cursor: pointer;
      .newTask {
        border: none;
        border-radius: 20px;
        padding: 0.7rem;
        background-color: #635fc7;
        color: white;
        font-weight: 800;
        font-size: 1rem;
        text-align: center;
        margin: 1rem;
      }
      .newTask:hover {
        background-color: #a8a4ff;
      }
      .dropdownMenu {
        .test:after {
          content: "\2807";
          font-size: 30px;
          color: gray;
        }
        ul {
          li {
            list-style: none;
            color: gray;
            font-size: 0.9rem;
          }
          .dropdownContent {
            background-color: rgb(241, 246, 248);
            padding: 0.5rem;
            border-radius: 8px;
            z-index: 11111;
            position: absolute;
            right: 2rem;
            top: 4rem;
            .delete {
              color: red;
            }
          }
        }
      }
    }
    button {
      border: none;
      background-color: transparent;
    }
  }

  .showSidebar {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    left: -25px;
    background-color: #635fc7;
    border-radius: 30px;
    border: none;
    width: 90px;
    height: 45px;
    padding: 1rem;
    margin: 0;
    img {
      align-self: center;
      margin-left: 15px;
      margin-bottom: 20%;
      height: 100%;
    }
  }
  .showSidebar:hover {
    background-color: #a8a4ff;
  }
  .hide {
    display: none;
    z-index: -111;
  }
  .show {
    display: block;
    z-index: 1111;
  }
}
