<mat-toolbar class="top">
  <div class="left">
    <mat-toolbar-row>
      <img src="../../../assets/images/logo-dark.svg" alt="">
    </mat-toolbar-row>
    <div class="line"></div>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <h1>Platform Launch</h1>
      </button>
    </mat-toolbar-row>
  </div>
 <div class="right">
  <mat-toolbar-row>
    <button class="newTask">+ Add new task</button>
    <button class="test"></button>
  </mat-toolbar-row>
 </div>
 
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item>home</a>
      <a mat-list-item>home</a>
      <a mat-list-item>home</a>
      <a mat-list-item>home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content opened="true" mode="sidenav">
    <div style="height:82vh; color:bleu; width:80vw;"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar  class="toggleSidenav">
    <button mat-icon-button (click)="sidenav.toggle()">
      <img src="../../../assets/images/icon-show-sidebar.svg" alt="show sidebar">
    </button>
</mat-toolbar>
