<div class="board">
  <div class="column">
    <ul>
      <h3>TODO(4)</h3>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
    
  
    </ul>
  </div>
  <div class="column">
    <ul>
      <h3>TODO(4)</h3>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
    
  
    </ul>
  </div>
  <div class="column">
    <ul>
      <h3>TODO(4)</h3>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
      <li>
        <div class="task">
          <h3 class="taskContent">Build ui for search</h3>
          <h5  class="subtasks">0 of 1 subtasks</h5>
        </div>
      </li>
    
  
    </ul>
  </div>
  <button class="newColumn" (click)="addNewColumn()">+New Column</button>
</div>
