.deleteBoard {
  padding: 1rem;
  height: 25vh;
  width: 30vw;
  h2 {
    color: #ea5555;
  }
  button {
    width: 40%;
    border: none;
    border-radius: 30px;
    align-self: center;
    padding: 1rem;
    font-weight: 700;
  }
}
